<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OnnxRuntimeWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mnist">
                <span class="bi bi-pencil-nav-menu" aria-hidden="true"></span> MNIST
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="image-classification">
                <span class="bi bi-image-nav-menu" aria-hidden="true"></span> Image Classification
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gpu-preprocessing">
                <span class="bi bi-gpu-nav-menu" aria-hidden="true"></span> GPU Processing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tests">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tests
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
